<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <title>TITLE</title>
	</head>

	<body>
		<div class="blog-container">
			<nav>
				<a href="../index.html"><span class="navbar-item">accueil</span></a>
				<a href="../a-propos.html"><span class="navbar-item">a propos</span></a>
				<a href="../contact.html"><span class="navbar-item">contact</span></a>
			</nav>
		  
			<div class="content">
				<div class="article">
          <span class="article-header">[DATE] TITLE</span>
					<div class="article-content">
            CONTENT
          </div>
					<div class="article-footer">
						<a href="../index.html" class="button">accueil</a>
					</div>
				</div>
			</div>
		  
			<footer>
				<p>/KASPARROW/</p>
			</footer>
		</div>
	</body>
</html>
