<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    <title>Blog de Kasparrow</title>
	</head>

	<body>
		<div class="blog-container">
			<nav>
				<a href="/"><span class="navbar-item">accueil</span></a>
				<a href="./a-propos.html"><span class="navbar-item">a propos</span></a>
				<a href="./contact.html"><span class="navbar-item">contact</span></a>
			</nav>
		  
			<div class="content">
        CONTENT
      </div>
			<footer>
				<p>/KASPARROW/</p>
			</footer>
		</div>
	</body>
</html>
